<footer class="footer">
  <small>
    <a href=''>the gopher</a>
    jd
  </small>
  <nav>
    <ul>
      <li><%= link_to "about us", about_path %></li>
      <li><%= link_to "contact us", contact_path %></li>
      <li><%= link_to "somewhere else", '#' %></li>
    </ul>
  </nav>
</footer>
